<div>
  <div>
    {% comment %} <img src="" alt=""> {% endcomment %}
  </div>
  <div>
    <h2>test</h2>
    <div>
      {{  }}
    </div>
    <a href=""></a>
  </div>
</div>

{% schema %}
{
  "name": "Designer",
  "settings": [],
  "presets": [
    {
      "name": "Designer",
      "settings": {}
    }
  ]
}
{% endschema %}
